{% extends 'base-template.html' %}
{% block content %}
<div class="container" style="text-align:center">
    <h1 class="title is-2" align="center">Description</h1>    
        <div style="float: left;width:50%;">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col"> Available Locations</th>
                    </tr>
                </thead>
                <tbody>
                    {% if warehouses == None or warehouses|length == 0 %}
                        <tr>
                            <td class="font-weight-light" align="center">No Warehouse Data Available Yet</td>
                        </tr>
                    {%else %}
                    {% for warehouse in warehouses %}
                        <tr>
                            <td>{{ warehouse[1] }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
                
            </table>
        </div>
        
            <!-- Div to list all products -->
    <div style="float:right;width:50%;padding-left: 5%;">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Un-Allocated</th>
                    <th scope="col">Total Count</th>
                </tr>
            </thead>
            <tbody>
                {% if products == None or products|length == 0 %}
                <div style="float: right;width: 50%;">
                    <td align="center" class="font-weight-light">No Product Data Available Yet</td>
                </div>
                {% else %}
                    {% if database == None or database|length == 0 %}
                                <td align="center" class="font-weight-light">Summary not available yet</td>
                    {% else %}
                        {% for product in products %}
                            <tr>
                                <td>{{ product[1] }}</td>
                                {% for data in database %}
                                    <td>{{ data[1] }}</td>
                                    <td>{{ data[2] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}