{% extends 'base-template.html' %}
{% block content %}
<div class="container">
    <table class="table  is-fullwidth">
        <thead>
            <th>Location ID</th>
            <th>Location Name</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for location in warehouses %}
                <tr>
                    <td>{{ location[0] }}</td>
                    <td>{{ location[1] }}</td>
                    <td>
                        <a href="{{ url_for('delete', loc_id=location[0], type='location') }}">
                            <button name="button" type="button" class="button is-danger is-rounded is-small is-outlined" value= "delete">
                                <span>Delete</span>
                                <span class="icon is-small">
                                    <i class="fa fa-times"></i>
                                </span>
                            </button>
                        </a>
                    </td>
                        <td>
                            <a name="button" value= "edit" type="button" class="button is-dark is-rounded is-small is-outlined modal-button" data-toggle="modal" data-target="#edit_{{ location[0] }}" >
                                <span>Edit</span>
                                <span class="icon is-small">
                                    <i class="fa fa-pencil"></i>
                                </span>
                            </a>
                            <div id="edit_{{ location[0] }}" class="modal ">
                                <div class = "modal-background"></div>
                                <form action="{{ url_for('edit', type='location') }}" method="post">
                                <div class = "modal-content">
                                <div class = "box">
                                            <div class="modal-body"><input name="loc_name" placeholder="{{ location[1] }}"></div>
                                            <div class="modal-footer">
                                                <input name="loc_id" value="{{ location[0] }}" hidden aria-hidden="true">
                                                <button type="submit" class="button is-success is-small">
                                                    <span class="icon is-small">
                                                    <i class="fa fa-check"></i>
                                                    </span>
                                                    <span>Save changes</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <button class = "modal-close is-large" aria-label = "close"></button>
                            </div>
                        </td>
                    </tr>     
                {% endfor %}
                <tr>
                    <form action = "{{url_for('location')}}" method = "POST">
                        <td></td>
                        <td>
                            <input class="input is-small is-dark is-rounded" name= "warehouse_name" placeholder="Warehouse Name" required autofocus>
                        </td>
                        <td>
                            <input type= "submit" class="button is-black is-small is-rounded" value= "Add" /><br>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
 {% endblock %}